body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-size: 5vw; */
    font-size: 15px;
    padding: 3rem;
}
p {
    padding: 1rem 2rem;
}
.special {
    color: green;
}
a {
    color: gold;
    text-decoration: none;
    display: inline-block;
    background-color: darkgreen;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
}
#home {
    background-color: antiquewhite;
}
#about {
    background-color: turquoise;
}
#logo {
    width: 12rem;
    border-radius: 1rem;
} 
